<!-- メンバー側 -->
<div class="container">
  <strong class="information-link">トレーニング管理</strong>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "戻る", member_path(@member.id), class:"btn btn-lg btn-primary" %>
      </div>
    </div>
     <div class="container">
       <div class="row">
         <div class="col-lg-8">
     <table class="table table-striped">
       <thead>
         <tr>
           <th>TR内容</th>
           <th>目安時間</th>
           <th>内容詳細</th>
         </tr>
       </thead>
       <tbody>
         <% @trainings.each do |training| %>
         <tr>
           <td><%= link_to training.title ,member_training_path(training) %></td>
           <td><%= training.time %> 時間</td>
           <td><%= training.introductio %></td>
         </tr>
       </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
