<!--admin側 マイページ -->
<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<div class="container">
  <div class="row">
 <%= render 'layouts/member', member: @member %>
      <div class="row">
    <div class="col-xs-12">
      <%= link_to "編集する", edit_admin_member_path(@member), class: "glyphicon glyphicon-pencil btn btn-success" %>
      <%= link_to "トレーニング", member_member_trainings_path(@member.id), class: "glyphicon glyphicon-pencil btn btn-success" %>
    </div>
  </div>
  </div>
  </div>
</div>
