<table>
  <caption>ブックマーク一覧</caption>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.log.member.last_name %></td>
        <td>
          <%= link_to member_log_bookmarks_path(bookmark.log) do %>
            <%= bookmark.log.title %>
          <% end %>
        </td>
        <td><%= bookmark.log.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
