<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>Training genre edit <i class="fa-regular fa-pen-to-square"></i></h2><br>
       <div class="edit-traininggenre-form">
       	<%= form_with model: @training_genre, url: admin_training_genre_path, method: :patch do |f| %>
       	  <%= f.label :"Genre" %>
       	  <%= f.text_field :menu,class: "col-md-8" %><br>
       	  <br>
       	  <%= f.submit "保存する" ,class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
</div>

