<head>
	<script src="https://kit.fontawesome.com/42ccd6fdce.js" crossorigin="anonymous"></script>
</head>

<br>
<h1><i class="fa-regular fa-lightbulb"></i> <font color="#ef857d">L</font>og's</h1>
<p>誰でも作成ができます。いいね、ブックマーク機能もあります。<br>
業務連絡やちょっとした報告などを自由に書き込んでください。<br>
（不適切だと判断したログについては店長が削除することがあります。）<br>
</p>
<br>
<h1><i class="fa-regular fa-lightbulb"></i> <font color="#00afcc">M</font>ember</h1>
<p>マイページは他のメンバーからも見ることができます。<br>
簡単な自己紹介などを入れてください。<br>
</p>
<br>
<h1><i class="fa-regular fa-lightbulb"></i> <font color="#9fc24d">T</font>raining</h1>
<p>各自のトレーニング状況の確認ができます。<br>
自分がどこまで何をできるようになったのか視認できる機能です。<br>
また評価にも繋がりますので内容は考えてコメントしましょう。<br>
</p>