<!-- 店長側 -->
<div class="container">
  <strong class="information-link">トレーニング管理</strong>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "メニュー管理", admin_training_genres_path, class:"btn btn-lg btn-primary" %>
      </div>
    </div>
     <div class="container">
       <div class="row">
         <div class="col-lg-12">
     <table class="table table-striped">
       <thead>
         <tr>
           <th>TR内容</th>
           <th>目安時間</th>
           <th>進捗</th>
           <th>comment</th>
           <th>フィードバック</th>
         </tr>
       </thead>
       <tbody>
         <% @training_genres.each do |training_genre| %>
         <tr>
           <td><%= training_genre.menu %></td>
           <td><%= training_genre.time %> 時間</td>
           <td>進捗を反映</td>
           <td>メンバーからのコメント</td>
           <td>店長からのフィードバック</td>
         </tr>
       </tbody>
         <% end %>
         </div>
       </div>
     </div>
  </div>
